<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li >
                <a href="~/">
                    <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
                </a>
            </li>
            
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lý dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Supplier"><i class="fa fa-users" aria-hidden="true"></i> Nhà cung cấp</a></li>
                    <li><a href="~/Customer"><i class="fa fa-users" aria-hidden="true"></i> Khách hàng</a></li>
                    <li><a href="~/Shipper"><i class="fa fa-id-card" aria-hidden="true"></i> Người giao hàng</a></li>
                    <li><a href="~/Employee"><i class="fa fa-id-card" aria-hidden="true"></i> Nhân viên</a></li>
                    <li><a href="~/Category"><i class="fa fa-archive" aria-hidden="true"></i> Loại hàng</a></li>
                    <li><a href="~/Product"><i class="fa fa-archive" aria-hidden="true"></i> Mặt hàng</a></li>
                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lý bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Order/Create"><i class="fa fa-folder-open" aria-hidden="true"></i> Lập đơn hàng</a></li>
                    <li><a href="~/Order"><i class="fa fa-folder-open" aria-hidden="true"></i> Danh sách đơn hàng</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>